body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.hero-header {
  position: relative;
  height: 684px;
  background-image: url("main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
 
}

.hero-header .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#navbar {
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left : 0px;
}

#links{
	padding :15px 20px;
	position: absolute;
	top:0;
	right:0px;
}

#links a:not(:last-child){
	margin-right: 10px;
}
#logo {
  color: white;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
}

.info {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.info h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
}

.info h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: normal;
}

.learn-more {
  color: white;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 8px 40px;
}

.learn-more:hover{
	background-color: white;
	color:black;
}

.logo{
		margin-top: 50px;
		margin-bottom: 40px;
	}

	.text{
		text-align: center;
		font-size: 16px;
		margin-bottom: 20px;
		
	}

	.text a{
		font-size: 19px;
		text-decoration: none;
		color: #AAAAAA;
		margin-right: 20px;
		margin-left: 20px;
	}

	.text a:hover{
		color: #881bdd;
		text-decoration: none;
	}

	.text b{
		color:black;
		border-bottom: 4px solid  #881bdd;
	}

	.text-black{
		text-align: center;
		font-size: 16px;
		margin-bottom: 20px;
		
	}

	.text-black a{
		font-size: 19px;
		text-decoration: none;
		color: #AAAAAA;
		margin-right: 20px;
		margin-left: 20px;
	}

	.text-black a:hover{
		color: #881bdd;
		text-decoration: none;
	}

	.text-black b{
		color:white;
		border-bottom: 4px solid  #881bdd;
	}

	.backgroundblack{
		background-color: white;
	}

/*반응형으로 바꾸기*/
	.profileimg{
		margin-top:100px;
		margin-left: 80px;
	}


/*포폴 페이지 carousel*/
	.carousel-item{
		height: 450px;
		background-color: gray;
	}

	.carousel-item.item1{
		background-image: url('img/cooking.jpg');
		background-size: cover;
		background-position: center center;
	}

	.carousel-item.item2{
		background-image: url('img/makeup.jpg');
		background-size: cover;
		background-position: center top;
	}

	.carousel-item.item3{
		background-image: url('img/guitar.jpg');
		background-size: cover;
		background-position: left center;
	}